
<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-menu contentId="main-content" >
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu Content</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu contentId="main-content" >

    <ion-content class="ion-padding " >
      <a href="/tabs/tab1" style="text-decoration: none; font-size:20px;">Home</a>
      <br>
      <br>
      <a href="/tabs/tab2" style="text-decoration: none;font-size:20px;">Itens</a>
      <br>
      <br>
      <a href="/tabs/tab3" style="text-decoration: none;font-size:20px;">Localização</a>

    </ion-content>
  </ion-menu>

  <!-- <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
  </div> -->



  <ion-content class="ion-padding flex-center" color="warning">

    <div>
    <h2 >Doce Bar</h2>
    <img src="../assets/chocolate2.jpg" >

    <p class="ion-text-justify" style="color: brown">
      Bem-vindo à nossa confeitaria, onde os sonhos se transformam em doces realidades e cada mordida é uma viagem de sabor inesquecível. Aqui, na Confeitaria Delícias Celestiais, nossa paixão pela arte da confeitaria é evidente em cada criação que sai de nossas mãos habilidosas. Desde os mais delicados macarons até os bolos extravagantes que adornam nossas vitrines, estamos empenhados em elevar a experiência da doçura a um nível completamente novo.</p>
  </div>


  <div class="baixo">
    <div>
    <h2 class="cont">Contatos</h2>
  </div>
    <div>
    <ion-icon name="logo-whatsapp"  size="large" ></ion-icon>
      <ion-icon name="logo-linkedin"  size="large" ></ion-icon>

      <ion-icon name="logo-instagram"  size="large" ></ion-icon>


  <ion-icon name="logo-ionic" size="large" color="tertiary" ></ion-icon>
</div>
</div>

  </ion-content>




</ion-content>
