



*{
  font-family: 'Croissant One', cursive;

}


.header-custom {
  --background: red; /* Defina a cor de fundo desejada */
  /* Outros estilos personalizados, se necessário */
}


.ion-padding{
  background-color: red;
}


.branco{
  color: white;

}
